<%= form_for(@wine) do |f| %>
  <% if @wine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wine.errors.count, "error") %> prohibited this wine from being saved:</h2>

      <ul>
      <% @wine.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :wine_type %><br />
    <%= f.collection_select :wine_type_id, WineType.all, :id, :title %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :vintage %><br />
    <%= f.text_field :vintage %>
  </div>
  <div class="field">
    <%= f.label :acquired_on %><br />
    <%= f.date_select :acquired_on %>
  </div>
  <div class="field">
    <%= f.label :winery %><br />
    <%= f.text_field :winery %>
  </div>
  <div class="field">
    <%= f.label :appellation %><br />
    <%= f.text_field :appellation %>
  </div>
  <div class="field">
    <%= f.label :color %><br />
    <%= f.select :color, %w(Rouge Blanc) %>
  </div>
  <div class="field">
    <%= f.label :years_to_maturity %><br />
    <%= f.text_field :years_to_maturity %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :rating %><br />
    <%= f.text_field :rating %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :code_saq %><br />
    <%= f.text_field :code_saq %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
